{% load staticfiles %}
{% load i18n %}

<html lang="en">
<head>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/u/0/u0vjv1ua8u.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Padel Analytics</title>

    <!-- Bootstrap core CSS and others -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-top-fixed.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    {% block css %}

    {% endblock %}
</head>

<body>

<!--<header>
  <div class="container">
      <a href="#home" class="logo">Fixed Responsive Nav</a>
      <nav class="nav-collapse">
        <ul>
          <li class="menu-item active"><a href="#home">Home</a></li>
          <li class="menu-item"><a href="#about">About</a></li>
          <li class="menu-item"><a href="#projects">Projects</a></li>
          <li class="menu-item"><a href="#blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header> -->


<div class="navbar-expand-md navbar-dark fixed-top bg-white">
    <div class="container_12">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo01.png' %}" class="navbar-brand" alt="Padel Analytics">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
    </div>

    <div class="topnav" style="width: 100%">
        <div class="container_12">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'clubs' %}">{% trans "Clubs" %}
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'tournaments' %}">{% trans "Tournaments" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="{% url 'tournament_signup' %}">{% trans "Tournament sign up" %}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ranking' %}">{% trans "Ranking" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'about' %}">{% trans "About" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <!--
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'new_player' %}">{% trans "License" %}
                            <span class="sr-only"></span>
                        </a>
                    </li>-->
                </ul>
                <ul>
                    <li class="socialbtns socialbtns_hidden">
                        <ul>
                            <li><a href="https://www.facebook.com/padelanalytics" target="_blank"
                                   class="fa fa-lg fa-facebook"></a></li>
                            <li><a href="https://www.instagram.com/padelanalytics" target="_blank"
                                   class="fa fa-lg fa-instagram"></a></li>
                            <li><a href="https://www.twitter.com/padelanalytics" target="_blank"
                                   class="fa fa-lg fa-twitter"></a></li>
                            <li><a href="https://www.linkedin.com/company/padelanalytics" target="_blank"
                                   class="fa fa-lg fa-linkedin"></a></li>
                            <li><a href="https://www.youtube.com/channel/UC2yeSeaWRKA5T3BVlGBp7Vw" target="_blank"
                                   class="fa fa-lg fa-youtube"></a></li>
                        </ul>
                    </li>
                </ul>
                <div>
                    <a class="logo-fed">
                        <img src="{% static 'images/federations/germany_lines.png' %}" alt="DPV"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg mb-4" style="padding: 0px">
            {% csrf_token %}
        <div class="container_12">
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" style="height:70px" id="navbarSupportedContent">
                <form role="form" action="{% url 'search' %}" method="get" class="form-inline col-sm-12" style="margin: 5px auto 0px 0; padding-left:2px">
                    <div class="md-form my-0">
                        {{form.text}}
                    </div>
                    <button type="submit" name="submit" id="submit" value="Submit" href="#!" class="btn btn-outline-white btn-md my-0 ml-sm-2" style="background-color: #fff;"
                            type="submit">
                          <span class="input-group-text amber lighten-3" id="basic-text1">
                              <i class="fa fa-search text-grey" style="font-size: 24px" aria-hidden="true"></i>
                          </span>
                    </input>
                </form>
            </div>
        </div>
        <!-- Collapsible content -->

    </nav>
</div>



<div class="topnav2">
    <div class="container_12">
        <div>
            <a class="logo-fed">
                <img src="{% static 'images/federations/germany_lines.png' %}" alt="Deutscher Padel Verband">
            </a>
            <div>
                <div class="socialbtns">
                    <ul>
                        <li><a href="https://www.facebook.com/padelanalytics" target="_blank"
                               class="fa fa-lg fa-facebook"></a></li>
                        <li><a href="https://www.instagram.com/padelanalytics" target="_blank"
                               class="fa fa-lg fa-instagram"></a></li>
                        <li><a href="https://www.twitter.com/padelanalytics" target="_blank"
                               class="fa fa-lg fa-twitter"></a></li>
                        <li><a href="https://www.linkedin.com/company/padelanalytics" target="_blank"
                               class="fa fa-lg fa-linkedin"></a></li>
                        <li><a href="https://www.youtube.com/channel/UC2yeSeaWRKA5T3BVlGBp7Vw" target="_blank"
                               class="fa fa-lg fa-youtube"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% block content %}{% endblock %}

<!-- Footer -->
<footer style="background-color:#cdcdcd; margin-top:10px" class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="flex-center">

                    <!-- Facebook -->
                    <a href="https://www.facebook.com/padelanalytics" target="_blank" class="fb-ic">
                        <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a href="https://www.instagram.com/padelanalytics" target="_blank" class="ins-ic">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a href="https://www.twitter.com/padelanalytics" target="_blank" class="tw-ic">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a href="https://www.linkedin.com/company/padelanalytics" target="_blank" class="li-ic">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Youtube-->
                    <a href="https://www.youtube.com/channel/UC2yeSeaWRKA5T3BVlGBp7Vw" target="_blank" class="you-ic">
                        <i class="fa fa-youtube fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div style="background-color:#adadad" class="footer-copyright text-center py-3">© 2019 Copyright:
        <strong href="https://mdbootstrap.com/education/bootstrap/" style="color:white">Padel Analytics</strong>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://use.fontawesome.com/7cf8bc3e18.js"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>

{% if PADEL_GOOGLE_TRACK_ID %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125593817-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125593817-1');


</script>
{% endif %}

{% block js%}
{% endblock %}
</body>
</html>
