{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS and others -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
</head>

<body>

  <div class="container">
    <table id="myTable" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Court 1</th>
          <th scope="col">Court 2</th>
          <th scope="col">Court 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">09:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">11:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">13:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">14:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">15:00</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<script src="{% static 'js/booking.js' %}"></script>
<script>
  bindOnClickMethod("myTable");
</script>
