{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}"/>
{% endblock %}


{% block content %}


<div class="container_12 tools">
    <!--    <div class="col-sm-3 col-lg-3 card news_column hidden992" style="float: right; padding: 0px">-->
    <!--        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left; margin-top: 20px">-->
    <!--            <h3 class="form_title" style="font-weight: 600; color:#DC4C46; text-align:center;">-->
    <!--                {% trans "Follow us" %}-->
    <!--            </h3>-->
    <!--            <hr class="separador_torneo">-->
    <!--        </div>-->
    <!--        <div id="wrapper">-->
    <!--            <a href="https://www.facebook.com/padelanalytics" class="item facebook col-sm-3"><i-->
    <!--                    class="fa fa-facebook"></i></a>-->
    <!--            <a href="https://www.instagram.com/padelanalytics" class="item instagram col-sm-3"><i-->
    <!--                    class="fa fa-instagram"></i></a>-->
    <!--            <a href="https://www.twitter.com/padelanalytics" class="item twitter col-sm-3"><i class="fa fa-twitter"></i></a>-->
    <!--            <a href="https://www.linkedin.com/company/padelanalytics" class="item linkedin col-sm-3"><i-->
    <!--                    class="fa fa-linkedin"></i></a>-->
    <!--        </div>-->

    <!--        &lt;!&ndash; CAMPS &ndash;&gt;-->
    <!--        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left; margin-top: 20px">-->
    <!--            <h3 class="form_title" style="font-weight: 600; color:#DC4C46; text-align:center;">-->
    <!--                {% trans "Camps Offers" %}-->
    <!--            </h3>-->
    <!--            <hr class="separador_torneo">-->
    <!--            <div class="col-xs-12 col-sm-12" style="padding-bottom: 16px">-->
    <!--                <div class="news_story col-sm-12" style="margin-top: 30px; padding:0px; height:auto">-->
    <!--                    <div class="col-sm-12 news_picture_camps">-->
    <!--                        <img class="news_img" style="margin-top: 0px"-->
    <!--                             src="{% static 'images/Camps/camp.jpg' %}"></div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        &lt;!&ndash; RANKINGS &ndash;&gt;-->
    <!--        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left">-->
    <!--            <h3 class="form_title" style="font-weight: 600; color:#DC4C46; text-align:center;">-->
    <!--                {% trans "Mens Ranking" %}-->
    <!--            </h3>-->
    <!--            <hr class="separador_torneo">-->
    <!--            <div class="col-xs-12 col-sm-12">-->
    <!--                <table class="table-big-light" style="float: left; margin-bottom: 20px;">-->
    <!--                    <tr>-->
    <!--                        <th class="col-sm-1 col-md-1 group-name" style="padding-left: 0px">-->
    <!--                            <div><span>{% trans "Pos" %}</span></div>-->
    <!--                        </th>-->
    <!--                        <th class="col-sm-9 col-md-9" style="padding-left: 0px">-->
    <!--                            <div><a>{% trans "Player" %}</a></div>-->
    <!--                        </th>-->
    <!--                        <th class="col-sm-2 col-md-2 uno" style="padding-left: 0px">-->
    <!--                            <div><a>{% trans "Points" %}</a></div>-->
    <!--                        </th>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>1.</td>-->
    <!--                        <td>Lindmeyer</td>-->
    <!--                        <td>2610</td>-->
    <!--                    </tr>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>2.</td>-->
    <!--                        <td>Bruijsten</td>-->
    <!--                        <td style="right: 20px">2590</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>3.</td>-->
    <!--                        <td>Boers</td>-->
    <!--                        <td>2340</td>-->
    <!--                    <tr>-->
    <!--                        <td>4.</td>-->
    <!--                        <td>Messerschmidt</td>-->
    <!--                        <td>1990</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>5.</td>-->
    <!--                        <td>Maarsen</td>-->
    <!--                        <td>1500</td>-->
    <!--                    </tr>-->
    <!--                </table>-->
    <!--                <h3 class="form_title" style="font-weight: 600; color:#DC4C46; text-align:center; margin-top: 20px">-->
    <!--                    {% trans "Womens Ranking" %}-->
    <!--                </h3>-->
    <!--                <hr class="separador_torneo">-->
    <!--                <table class="table-big-light" style="float: left; margin-bottom: 20px;">-->
    <!--                    <tr>-->
    <!--                        <th class="col-sm-1 col-md-1 group-name" style="padding-left: 0px">-->
    <!--                            <div><span>{% trans "Pos" %}</span></div>-->
    <!--                        </th>-->
    <!--                        <th class="col-sm-9 col-md-9" style="padding-left: 0px">-->
    <!--                            <div><a>{% trans "Player" %}</a></div>-->
    <!--                        </th>-->
    <!--                        <th class="col-sm-2 col-md-2 uno" style="padding-left: 0px">-->
    <!--                            <div><a>{% trans "Points" %}</a></div>-->
    <!--                        </th>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>1.</td>-->
    <!--                        <td>Tiedjen</td>-->
    <!--                        <td>1380</td>-->
    <!--                    </tr>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>2.</td>-->
    <!--                        <td>Breyer</td>-->
    <!--                        <td>1245</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>3.</td>-->
    <!--                        <td>Herrmann</td>-->
    <!--                        <td>1200</td>-->
    <!--                    <tr>-->
    <!--                        <td>3.</td>-->
    <!--                        <td>Pedersen</td>-->
    <!--                        <td>1200</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>3.</td>-->
    <!--                        <td>Pietzko</td>-->
    <!--                        <td>1200</td>-->
    <!--                    </tr>-->
    <!--                </table>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        &lt;!&ndash; LAST CLUB &ndash;&gt;-->
    <!--        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left; margin-top: 20px">-->
    <!--            <h3 class="form_title" style="font-weight: 600; color:#DC4C46; text-align:center;">-->
    <!--                {% trans "Last Club opened" %}-->
    <!--            </h3>-->
    <!--            <hr class="separador_torneo">-->
    <!--            <img style="padding: 0px 60px; max-width: 100%" src="{% static 'images/germany/clubs/Peissnitz.png' %}">-->
    <!--            <h2 class="form_title" style="font-weight: text-align:center;">-->
    <!--                Hallescher Tennisclub Peißnitz e.V.-->
    <!--                </h3>-->
    <!--        </div>-->

    <!--    </div>-->

    <!-- BUTTONS TOP -->
    <!--    <div class="col-sm-12 col-md-9 hidden992" style="display:flex; flex-wrap: wrap">-->
    <!--        <h1 style="width: 100%; margin: 12px; text-align: left">Choose a function...</h1>-->
    <!--        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">-->
    <!--            <div class="card tools_card">-->
    <!--                <a href="{% url 'clubs' %}" class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:5%">-->
    <!--                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/003germany.png' %}">-->
    <!--                </a>-->
    <!--                <div class="cover_card">-->
    <!--                    <h2 style="margin-top: 10%">{% trans "Club Finder" %}</h2>-->
    <!--                </div>-->
    <!--            </div> &lt;!&ndash; end card &ndash;&gt;-->
    <!--        </div> &lt;!&ndash; end card-container &ndash;&gt;-->
    <!--        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">-->
    <!--            <div class="card tools_card">-->
    <!--                <a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 col-md-12"-->
    <!--                   style="float:left; margin-top:5%">-->
    <!--                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/003c.png' %}">-->
    <!--                </a>-->
    <!--                <div class="cover_card">-->
    <!--                    <h2 style="margin-top: 10%">{% trans "Competition center" %}</h2>-->
    <!--                </div>-->
    <!--            </div> &lt;!&ndash; end card &ndash;&gt;-->
    <!--        </div> &lt;!&ndash; end card-container &ndash;&gt;-->
    <!--        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">-->
    <!--            <div class="card tools_card">-->
    <!--                <a href="{% url 'ranking' %}" class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:5%">-->
    <!--                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/002c.png' %}">-->
    <!--                </a>-->
    <!--                <div class="cover_card">-->
    <!--                    <h2 style="margin-top: 10%">{% trans "Rankings" %}</h2>-->
    <!--                </div>-->
    <!--            </div> &lt;!&ndash; end card &ndash;&gt;-->
    <!--        </div> &lt;!&ndash; end card-container &ndash;&gt;-->
    <!--        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">-->
    <!--            <div class="card tools_card">-->
    <!--                <a href="{% url 'search' %}" class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:5%">-->
    <!--                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/master3.png' %}">-->
    <!--                </a>-->
    <!--                <div class="cover_card">-->
    <!--                    <h2 style="margin-top: 10%">{% trans "Player/Teams" %}</h2>-->
    <!--                </div>-->
    <!--            </div> &lt;!&ndash; end card &ndash;&gt;-->
    <!--        </div> &lt;!&ndash; end card-container &ndash;&gt;-->
    <!--    </div>-->
    <div class="container_12 hidden_992">
        <h1 style="width: 100%; text-align: left; text-transform: uppercase">Choose a function...</h1>
        <div class="landing_title" style="">
            <div class="col-xs-3 col-sm-3" style="padding: 0px">
                <a href="{% url 'clubs' %}" class="card tools_card" style="width: 99%; min-height: 110px">
                    <div class="col-xs-12 col-sm-12" style="float:left; margin-top:10%; padding:0">
                        <img class="col-xs-12 col-sm-12 img_map"
                             style="padding: 0; min-width: 70px; margin: 0px auto 0px auto;"
                             src="{% static 'images/news/003germany.png' %}">
                    </div>
                    <div class="cover_card" style="height: 10%">
                        <h2 style="margin-top: 15%">{% trans "Club Finder" %}</h2>
                    </div>
                </a> <!-- end card -->
            </div> <!-- end card-container -->
            <div class="col-xs-3 col-sm-3" style="padding: 0px">
                <a href="{% url 'tournaments' %}" class="card tools_card" style="width: 99%; min-height: 110px">
                    <div class="col-xs-12 col-sm-12" style="float:left; margin-top:10%; padding:0">
                        <img class="col-xs-12 col-sm-12 img_map"
                             style="padding: 0; min-width: 70px; margin: 0px auto 0px auto;"
                             src="{% static 'images/news/003c.png' %}">
                    </div>
                    <div class="cover_card" style="height: 10%">
                        <h2 style="margin-top: 15%">{% trans "Events" %}</h2>
                    </div>
                </a> <!-- end card -->
            </div> <!-- end card-container -->
            <div class="col-xs-3 col-sm-3" style="padding: 0px">
                <a href="{% url 'ranking' %}" class="card tools_card" style="width: 99%; min-height: 110px">
                    <div class="col-xs-12 col-sm-12" style="float:left; margin-top:10%; padding:0">
                        <img class="col-xs-12 col-sm-12 img_map"
                             style="padding: 0; min-width: 70px; margin: 0px auto 0px auto;"
                             src="{% static 'images/news/002c.png' %}">
                    </div>
                    <div class="cover_card" style="height: 10%">
                        <h2 style="margin-top: 15%">{% trans "Rankings" %}</h2>
                    </div>
                </a> <!-- end card -->
            </div> <!-- end card-container -->
            <div class="col-xs-3 col-sm-3" style="padding: 0px">
                <a href="{% url 'search' %}" class="card tools_card" style="width: 99%; min-height: 110px">
                    <div class="col-xs-12 col-sm-12" style="float:left; margin-top:10%; padding:0">
                        <img class="col-xs-12 col-sm-12 img_map"
                             style="padding: 0; min-width: 70px; margin: 0px auto 0px auto;"
                             src="{% static 'images/news/master3.png' %}">
                    </div>
                    <div class="cover_card" style="height: 10%">
                        <h2 style="margin-top: 15%">{% trans "Stats" %}</h2>
                    </div>
                </a> <!-- end card -->
            </div> <!-- end card-container -->
        </div>
    </div>


    <!-- STATISTIC BAR -->
    <div class="news_bar col-lg-9">
        <div style="flex: none; height: 120px; width: 100%; border: 1px solid #ddd;background-color: #fff; padding: 10px 0 0 0">
            <div class="quinto contorno" style="float:left">
                <a href="{% url 'clubs' %}">
                    <div class="col-12 btn" style="float:left">
                        <div class="stats_icon"><i class="fa fa-map-marker"></i></div>
                    </div>
                    <button type="button" class="col-12 btn stats_info">
                        {{total_clubs}}<br>
                        <h2 style="font-weight: 200; border-left: none; text-align: center">{% trans "Clubs" %}</h2>
                    </button>
                </a>
            </div>
            <div class="quinto contorno" style="float:left;"><a href="{% url 'clubs' %}">
                <a href="{% url 'clubs' %}">
                    <div class="col-12 btn" style="float:left">
                        <div class="stats_icon"><i class="fa fa-windows" style="transform: rotate(90deg)"></i>
                        </div>
                    </div>
                    <button type="button" class="col-12 btn stats_info">
                        {{total_courts}}<br>
                        <h2 style="font-weight: 200; border-left: none; text-align: center">{% trans "Courts" %}</h2>
                    </button>
                </a>
            </a>
            </div>
            <div class="quinto contorno" style="float:left">
                <a href="{% url 'tournaments' %}">
                    <div class="col-12 btn" style="float:left">
                        <div class="stats_icon"><i class="fa fa-trophy"></i></div>
                    </div>
                    <button type="button" class="col-12 btn stats_info">
                        {{total_tournaments}}<br>
                        <h2 style="font-weight: 200; border-left: none; text-align: center">{% trans "Events" %}</h2>
                    </button>
                </a>
            </div>

            <div class="quinto contorno" style="float:left">
                <a href="">
                    <div class="col-12 btn" style="float:left">
                        <div class="stats_icon"><i class="fa fa-user"></i></div>
                    </div>
                    <button type="button" class="col-12 btn stats_info">
                        {{total_persons}}<br>
                        <h2 style="font-weight: 200; border-left: none; text-align: center">{% trans "Players" %}</h2>
                    </button>
                </a>
            </div>

            <div class="quinto contorno" style="float:left">
                <a href="{% url 'ranking' %}">
                    <div class="col-12 btn" style="float:left">
                        <div class="stats_icon"><i class="fa fa-list-ol"></i></div>
                    </div>
                    <button type="button" class="col-12 btn stats_info">
                        {{total_rankings}}<br>
                        <h2 style="font-weight: 200; border-left: none; text-align: center">{% trans "Rankings" %}</h2>
                    </button>
                </a>
            </div>
        </div>
    </div>


    <!-- NEWS SECTION Finish max 768px-->
    <div>
        <h1 style="width: 100%; text-align: left; text-transform: uppercase">last News</h1>
    </div>
    <div class="col-md-4 card news_column hiddenbis768"
         style="float: right; padding: 0px; right: 20px; margin-top: 14px;">
        <!-- CAMPS -->
        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left; margin-top: 20px">
            <h3 class="form_title">
                {% trans "Padel Camps" %}
            </h3>
            <hr class="separador_torneo">
            <div class="col-xs-12 col-sm-12" style="padding-bottom: 16px">
                <div class="news_story col-sm-12" style="margin-top: 25px; padding:0px; height:auto">
                    <div class="col-sm-12 news_picture_camps">
                        <img class="news_img" style="margin-top: 0px"
                             src="{% static 'images/Camps/camp.jpg' %}"></div>
                </div>
                <div>
                    <a href="">
                        <button type="button" class="col-md-12 btn btn-outline-success"
                                style="margin-top: 10px; text-transform: uppercase">
                            {% trans "More Camps" %}
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- RANKINGS -->
        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left; margin-top: 15px">
            <h3 class="form_title">
                {% trans "Mens Ranking" %}
            </h3>
            <hr class="separador_torneo">
            <div class="col-xs-12 col-sm-12">
                <table class="table-big-light" style="float: left; margin-bottom: 20px;">
                    <tr>
                        <th class="col-sm-1 col-md-1 group-name" style="padding-left: 0px">
                            <div><span>{% trans "Pos" %}</span></div>
                        </th>
                        <th class="col-sm-9 col-md-9" style="padding-left: 0px">
                            <div><a>{% trans "Player" %}</a></div>
                        </th>
                        <th class="col-sm-2 col-md-2 uno" style="padding-left: 0px">
                            <div><a>{% trans "Points" %}</a></div>
                        </th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Lindmeyer</td>
                        <td>2610</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Bruijsten</td>
                        <td style="right: 20px">2590</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Boers</td>
                        <td>2340</td>
                    <tr>
                        <td>4.</td>
                        <td>Messerschmidt</td>
                        <td>1990</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Maarsen</td>
                        <td>1500</td>
                    </tr>
                </table>
                <h3 class="form_title">
                    {% trans "Womens Ranking" %}
                </h3>
                <hr class="separador_torneo">
                <table class="table-big-light" style="float: left; margin-bottom: 20px;">
                    <tr>
                        <th class="col-sm-1 col-md-1 group-name" style="padding-left: 0px">
                            <div><span>{% trans "Pos" %}</span></div>
                        </th>
                        <th class="col-sm-9 col-md-9" style="padding-left: 0px">
                            <div><a>{% trans "Player" %}</a></div>
                        </th>
                        <th class="col-sm-2 col-md-2 uno" style="padding-left: 0px">
                            <div><a>{% trans "Points" %}</a></div>
                        </th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Tiedjen</td>
                        <td>1380</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Breyer</td>
                        <td>1245</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Herrmann</td>
                        <td>1200</td>
                    <tr>
                        <td>3.</td>
                        <td>Pedersen</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Pietzko</td>
                        <td>1200</td>
                    </tr>
                </table>
                <div>
                    <a href="">
                        <button type="button" class="col-md-12 btn btn-outline-success"
                                style="margin-top: -5px; text-transform: uppercase">
                            {% trans "More Camps" %}
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- LAST CLUB -->
        <div class="col-xs-12 col-sm-12 col-md-12" style="float: left; margin-top: 15px"
        ">
        <h3 class="form_title">
            {% trans "Last Club opened" %}
        </h3>
        <hr class="separador_torneo">
        <img class="escudo" src="{% static 'images/germany/clubs/Peissnitz.png' %}">
        <h2 class="form_title"
            style="font-weight: text-align:center; margin-top: -10px; font-weight: 400">
            Hallescher Tennisclub Peißnitz e.V.
        </h2>
        <h3 class="form_title" style="padding-bottom: 15px; font-weight: 400">
            Peißnitzinsel 5a <br>
            06108 Halle (Saale)
        </h3>
        <div class="col-md-12">
            <a href="">
                <button type="button" class="col-md-12 btn btn-outline-success"
                        style="margin-top: 5px; text-transform: uppercase">
                    {% trans "More Clubs" %}
                </button>
            </a>
        </div>
    </div>

</div>
<div class="news_box col-md-8">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 news_new">
        <div class="news_story col-sm-12">
            <div class="news_category">{% trans "National Team" %}</div>
            <div class="col-sm-12 news_picture">
                <img class="news_img" src="{% static 'images/news/2019_nominierung.jpg' %}">
                <div class="news_text col-sm-12" style="z-index: 2; float: right">
                    <h1><a href="{% url 'news' 6 %}">Der DPV nominiert 49 Spieler im 2019</h1>
                    <h3 class="sm-hidden" style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed
                        diam nonumy
                        eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et
                        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 news_new">
        <div class="news_story col-sm-12">
            <div class="news_category" style="background-color: blue">{% trans "International" %}</div>
            <div class="col-sm-12 news_picture">
                <img class="news_img" src="{% static 'images/news/EM-FIP_winners.jpg' %}">
                <div class="news_text col-sm-12" style="z-index: 2; float: right">
                    <h1><a href="{% url 'news' 5 %}">Italien und Frankreich gewinnen ihre 1. EM</h1>
                    <h3 class="sm-hidden" style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed
                        diam nonumy
                        eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et
                        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 news_new">
        <div class="news_story col-sm-12">
            <div class="news_category" style="background-color: blue">{% trans "International" %}</div>
            <div class="col-sm-12 news_picture">
                <img class="news_img" src="{% static 'images/news/EM-EPA_winners.jpg' %}">
                <div class="news_text col-sm-12" style="z-index: 2; float: right">
                    <h1><a href="{% url 'news' 4 %}">Keine Überraschung in Lissabon</h1>
                    <h3 class="sm-hidden" style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed
                        diam nonumy
                        eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et
                        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 news_new">
        <div class="news_story col-sm-12">
            <div class="news_category">{% trans "National Team" %}</div>
            <div class="col-sm-12 news_picture">
                <img class="news_img" src="{% static 'images/news/EM-EPA.jpg' %}">
                <div class="news_text col-sm-12" style="z-index: 2; float: right">
                    <h1><a href="{% url 'news' 3 %}">Abschluss der EPA-Europameisterschaft</h1>
                    <h3 class="sm-hidden" style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed
                        diam nonumy
                        eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores
                        et
                        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem
                        ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et
                        dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum.
                        Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 news_new">
        <div class="news_story col-sm-12">
            <div class="news_category">{% trans "National Team" %}</div>
            <div class="col-sm-12 news_picture">
                <img class="news_img" src="{% static 'images/news/EM-FIP.jpg' %}">
                <div class="news_text col-sm-12" style="z-index: 2; float: right">
                    <h1><a href="{% url 'news' 2 %}">Großer Erfolg. 4. Platz und 5. Platz erhalten.</h1>
                    <h3 class="sm-hidden" style="margin-bottom: 24px">Letzter Tag in Rom. Die Herren haben gestern
                        leider im Spiel um
                        Platz 3 gegen Italien 0-3 verloren. Wir haben einen wohlverdienten 4. Platz geschafft.

                        Die Damen haben mit dem Sieg 3-0 gegen Russland den 5 Platz erzielt, für uns Deutschland
                        kann es nur heißen weiter so, trainieren und so viel Spiele machen wie es geht.

                        Nach anfangs super Wetter, über Gewitter und Starkregen haben die FIP das super organisiert
                        um das Turnier zu Ende zu spielen. Auch das ganze neben dem Platz war super professionell,
                        über Shops, Physiotherapie, Transfer, Spielerbereich, Getränke… Das hat Spaß gemacht. Am
                        Donnerstag Abend und Freitag noch Showmatches, mit Belasteguín, Lima, Ari und Salazar.

                        Französe, Italiener und Engländer haben ihr super gutes Niveau in Rom gezeigt und haben in
                        beiden Kategorien die erste 3 Positionen erreicht.

                        Wir konnten von einer tollen Woche in Rom berichten.
                        Wir freuen uns auf 2020.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 news_new">
        <div class="news_story col-sm-12">
            <div class="news_category">{% trans "National Team" %}</div>
            <div class="col-sm-12 news_picture">
                <img class="news_img" src="{% static 'images/news/EM_bilbao.jpg' %}">
                <div class="news_text col-sm-12" style="z-index: 2; float: right">
                    <h1><a href="{% url 'news' 1 %}">Unsere Senioren sind für die EM bereit</h1>
                    <h3 class="sm-hidden" style="margin-bottom: 24px">8 Spieler haben auch im 2018 in Estepona bei
                        der WM
                        teilgenommen</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <a href="">
            <button type="button" class="col-xs-12 col-md-12 col-bg-1 btn btn-outline-success"
                    style="margin-top: 15px; height: 40px; text-transform: uppercase">
                {% trans "More News" %}
            </button>
        </a>
    </div>
</div>


<!-- CAMPS -->
<div class="hiddenab768">
    <h1 style="width: 100%; text-align: left; text-transform: uppercase">PADEL CAMPS</h1>
</div>
<div class="news_box hiddenab768" style="height: auto">
    <div class="col-xs-12 col-sm-12" style="padding-bottom: 16px">
        <div class="col-sm-12" style="margin-top: 30px; padding:0px; height:auto">
            <div class="col-sm-12 news_picture_camps">
                <img class="news_img" style="margin-top: 15px"
                     src="{% static 'images/Camps/camp.jpg' %}">
            </div>
        </div>
        <div>
            <a href="">
                <button type="button" class="col-xs-12 col-md-1 col-bg-1 btn btn-outline-success"
                        style="margin-top: 15px; height: 40px; text-transform: uppercase">
                    {% trans "More Camps" %}
                </button>
            </a>
        </div>

    </div>
</div>


<!-- RANKINGS -->
<div class="hiddenab768">
    <h1 style="width: 100%; text-align: left; text-transform: uppercase">RANKINGS</h1>
</div>
<div class="news_box hiddenab768" style="height: auto">
    <div class="col-xs-12 col-sm-12" style="padding: 15px">
        <h3 class="form_title" style="font-weight: 600; color:black; text-align:center">
            {% trans "Mens Open" %}
        </h3>
        <hr class="separador_torneo">
        <div class="col-xs-12 col-sm-12">
            <table class="table-big-light" style="float: left; margin-bottom: 20px;">
                <tr>
                    <th class="col-xs-1 col-sm-1 col-md-1 group-name" style="padding-left: 0px">
                        <div><span>{% trans "Pos" %}</span></div>
                    </th>
                    <th class="col-sm-9 col-md-9" style="padding-left: 0px">
                        <div><a>{% trans "Player" %}</a></div>
                    </th>
                    <th class="col-sm-2 col-md-2 uno" style="padding-left: 0px">
                        <div><a>{% trans "Points" %}</a></div>
                    </th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Lindmeyer</td>
                    <td>2610</td>
                </tr>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Bruijsten</td>
                    <td style="right: 20px">2590</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Boers</td>
                    <td>2340</td>
                <tr>
                    <td>4.</td>
                    <td>Messerschmidt</td>
                    <td>1990</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Maarsen</td>
                    <td>1500</td>
                </tr>
            </table>
        </div>

        <h3 class="form_title" style="font-weight: 600; color:black; text-align:center">
            {% trans "Womens Open" %}
        </h3>
        <hr class="separador_torneo">
        <div class="col-xs-12 col-sm-12">
            <table class="table-big-light" style="float: left; margin-bottom: 20px;">
                <tr>
                    <th class="col-xs-1 col-sm-1 col-md-1 group-name" style="padding-left: 0px">
                        <div><span>{% trans "Pos" %}</span></div>
                    </th>
                    <th class="col-sm-9 col-md-9" style="padding-left: 0px">
                        <div><a>{% trans "Player" %}</a></div>
                    </th>
                    <th class="col-sm-2 col-md-2 uno" style="padding-left: 0px">
                        <div><a>{% trans "Points" %}</a></div>
                    </th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Tiedjen</td>
                    <td>1380</td>
                </tr>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Breyer</td>
                    <td>1245</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Herrmann</td>
                    <td>1200</td>
                <tr>
                    <td>3.</td>
                    <td>Pedersen</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Pietzko</td>
                    <td>1200</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12">
            <a href="">
                <button type="button" class="col-xs-12 col-md-1 col-bg-1 btn btn-outline-success"
                        style="margin-bottom: 15px; height: 40px; text-transform: uppercase">
                    {% trans "More Rankings" %}
                </button>
            </a>
        </div>
    </div>
</div>

<!-- LAST CLUB -->
<div class="hiddenab768">
    <h1 style="width: 100%; text-align: left; text-transform: uppercase">last club opened</h1>
</div>
<div class="news_box hiddenab768" style="height: auto">
    <img class="escudo" src="{% static 'images/germany/clubs/Peissnitz.png' %}">
    <h2 class="form_title"
        style="font-weight: text-align:center; margin-top: -20px; font-weight: 600">
        Hallescher Tennisclub Peißnitz e.V.
    </h2>
    <h2 class="form_title" style="padding-bottom: 15px">
        Peißnitzinsel 5a <br>
        06108 Halle (Saale)
    </h2>
    <div class="col-xs-12" style="margin-bottom: 15px">
        <a href="">
            <button type="button" class="col-xs-12 col-md-1 col-bg-1 btn btn-outline-success"
                    style="margin-bottom: 15px; height: 40px; text-transform: uppercase">
                {% trans "More Clubs" %}
            </button>
        </a>
    </div>
</div>

<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
