{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}"/>
{% endblock %}


{% block content %}
<div id="landing01" class="demo">
    <div id="particles-js" class="background" style=" z-index: -2">
        <div style="width: 100%; float: center; position: absolute; pointer-events: none">
            <div style="display: block">
                <img class="cover_logo" src="{% static 'images/logo01.png' %}" alt="Padel Analytics">
            </div>
            <br><br>
            <div style="display: block">
                <h1 class="cover_title">
                    - {% trans "Your Padel Portal with all your favourite statistics" %} -
                </h1>
            </div>
        </div>
    </div>
    <!--<a data-scroll href="#landing02" class="scroll2"><span></span>Scroll</a>-->
</div>

<div class="container_12 tools">
    <div style="display:flex; flex-wrap: wrap; margin: 16px -8px 16px -8px">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">
            <div class="card tools_card">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/003germany.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">{% trans "Club Finder" %}</h1>
                    <h4 class="tools_content">
                        {% trans "Find Padel-clubs close to your place" %}</h4>
                </div>

                <div class="content" style="margin-bottom: 20px;">
                    <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'clubs' %}" class="col-xs-12 col-sm-12 tools_button">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">
            <div class="card tools_card">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/003c.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">{% trans "Competition center" %}</h1>
                    <h4 class="tools_content">
                        {% trans "Check the tournament calendar, all results" %}...</h4>
                </div>

                <div class="content" style="margin-bottom: 20px;">
                    <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 tools_button">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">
            <div class="card tools_card">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/002c.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">{% trans "Rankings" %}</h1>
                    <h4 class="tools_content">
                        {% trans "Check your position and your friends one" %}</h4>
                </div>

                <div class="content" style="margin-bottom: 20px;">
                    <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'ranking' %}" class="col-xs-12 col-sm-12 tools_button">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" style="margin-bottom: 16px">
            <div class="card tools_card">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/master3.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">Player/Teams</h1>
                    <h4 class="tools_content">
                        {% trans "Set-Cards: played tournaments, won/lost matches, effectiveness." %}...</h4>
                </div>

                <div class="content" style="margin-bottom: 20px;">
                    <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 tools_button">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
    </div>
</div>

<!-- Estadística -->
<div class="news_bar" style=" padding: 16px 0 16px 0; height: 150px">
    <div class="col-sm-12" style="flex: none;">
        <div class="quinto contorno" style="float:left">
            <a href="{% url 'clubs' %}">
                <div class="col-12 btn stats_vertical_logo" style="float:left">
                    <div class="stats_icon"><i class="fa fa-map-marker"></i></div>
                </div>
                <button type="button" class="col-12 btn stats_vertical_info" style="font-weight: 600">
                    {{total_clubs}}<br>
                    <h2 style="font-weight: 400; border-left: none;">{% trans "Clubs" %}</h2>
                </button>
            </a>
        </div>
        <div class="quinto contorno" style="float:left;"><a href="{% url 'clubs' %}">
            <div class="col-12 btn stats_vertical_logo" style="float:left">
                <div class="stats_icon"><i class="fa fa-windows" style="transform: rotate(90deg)"></i>
                </div>
            </div>
            <button type="button" class="col-12 btn stats_vertical_info" style="font-weight: 600">
                {{total_courts}}<br>
                <h2 style="font-weight: 200; border-left: none">{% trans "Courts" %}</h2>
            </button>
        </a>
        </div>
        <div class="quinto contorno" style="float:left">
            <a href="{% url 'tournaments' %}">
                <div class="col-12 btn stats_vertical_logo" style="float:left">
                    <div class="stats_icon"><i class="fa fa-trophy"></i></div>
                </div>
                <button type="button" class="col-12 btn stats_vertical_info" style="">
                    {{total_tournaments}}<br>
                    <h2 style="font-weight: 200; border-left: none">{% trans "Events" %}</h2>
                </button>
            </a>
        </div>

        <div class="quinto contorno" style="float:left">
            <a href="">
                <div class="col-12 btn stats_vertical_logo" style="float:left">
                    <div class="stats_icon"><i class="fa fa-user"></i></div>
                </div>
                <button type="button" class="col-12 btn stats_vertical_info" style="">
                    {{total_persons}}<br>
                    <h2 style="font-weight: 200; border-left: none">{% trans "Players" %}</h2>
                </button>
            </a>
        </div>

        <div class="quinto contorno" style="float:left">
            <a href="{% url 'ranking' %}">
                <div class="col-12 btn stats_vertical_logo" style="float:left">
                    <div class="stats_icon"><i class="fa fa-list-ol"></i></div>
                </div>
                <button type="button" class="col-12 btn stats_vertical_info" style="">
                    {{total_rankings}}<br>
                    <h2 style="font-weight: 200; border-left: none">{% trans "Rankings" %}</h2>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="container_12" style="width: 90%; margin-top: 50px">
    <div class="col-sm-3 col-lg-3 card news_column" style="float: right">
        <img src="http://lorempixel.com/640/480/" alt=""/>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="float: left">
        <div class="news_story col-sm-12" style="padding: 0px">
        <div class="category">Primary</div>
            <div class="col-sm-3" style="padding: 0px"><img class="news_img" src="{% static 'images/news/03.jpg' %}"></div>
            <div class="news_text col-sm-9">
                <h1>Those old moments...</h1>
                <h3 style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                <div class="new_button"><a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 news_button">
                    {% trans "Read more" %}
                </a></div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="float: left">
        <div class="news_story col-sm-12" style="padding: 0px">
        <div class="category">Primary</div>
            <div class="col-sm-3" style="padding: 0px"><img class="news_img" src="{% static 'images/news/03.jpg' %}"></div>
            <div class="news_text col-sm-9">
                <h1>Those old moments...</h1>
                <h3 style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                <div class="new_button"><a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 news_button">
                    {% trans "Read more" %}
                </a></div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="float: left">
        <div class="news_story col-sm-12" style="padding: 0px">
        <div class="category">Primary</div>
            <div class="col-sm-3" style="padding: 0px"><img class="news_img" src="{% static 'images/news/03.jpg' %}"></div>
            <div class="news_text col-sm-9">
                <h1>Those old moments...</h1>
                <h3 style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                <div class="new_button"><a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 news_button">
                    {% trans "Read more" %}
                </a></div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="float: left">
        <div class="news_story col-sm-12" style="padding: 0px">
        <div class="category">Primary</div>
            <div class="col-sm-3" style="padding: 0px"><img class="news_img" src="{% static 'images/news/03.jpg' %}"></div>
            <div class="news_text col-sm-9">
                <h1>Those old moments...</h1>
                <h3 style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                <div class="new_button"><a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 news_button">
                    {% trans "Read more" %}
                </a></div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="float: left">
        <div class="news_story col-sm-12" style="padding: 0px">
        <div class="category">Primary</div>
            <div class="col-sm-3" style="padding: 0px"><img class="news_img" src="{% static 'images/news/03.jpg' %}"></div>
            <div class="news_text col-sm-9">
                <h1>Those old moments...</h1>
                <h3 style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                <div class="new_button"><a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 news_button">
                    {% trans "Read more" %}
                </a></div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="float: left">
        <div class="news_story col-sm-12" style="padding: 0px">
        <div class="category">Primary</div>
            <div class="col-sm-3" style="padding: 0px"><img class="news_img" src="{% static 'images/news/03.jpg' %}"></div>
            <div class="news_text col-sm-9">
                <h1>Those old moments...</h1>
                <h3 style="margin-bottom: 24px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h3>
                <div class="new_button"><a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12 news_button">
                    {% trans "Read more" %}
                </a></div>
            </div>

        </div>
    </div>

</div>

<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<!--<script src="{% static 'js/smooth-scroll.js' %}"></script>-->
{% endblock %}

