{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/rotating-card.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}"/>
{% endblock %}


{% block content %}
<div id="landing01" class="demo">
    <div id="particles-js" class="background" style=" z-index: -2">
        <div style="width: 100%; float: center; position: absolute; pointer-events: none">
            <div style="display: block">
                <img class="cover_logo" src="{% static 'images/logo01.png' %}" alt="Padel Analytics">
            </div>
            <br><br>
            <div style="display: block">
                <h1 class="cover_title">
                    - {% trans "Your Padel Portal with all your favourite statistics" %} -
                </h1>
            </div>
            <div class="news_bar" style="">

                <!-- Estadística -->
                <div>
                    <div class="col-sm-12" style="flex: none; min-height: 0px">
                    </div>
                    <div>
                        <div class="quinto contorno" style="float:left;"><a href="{% url 'clubs' %}">
                            <div class="col-12 btn stats_vertical_logo" style="float:left">
                                <div class="stats_icon"><i class="fa fa-map-marker"></i></div>
                            </div>
                            <button type="button" class="col-12 btn stats_vertical_info" style="font-weight: 600">
                                {{total_clubs}}<br>
                                <h2 style="font-weight: 200; border-left: none;">{% trans "Clubs" %}</h2>
                            </button>
                        </a>
                        </div>

                        <div class="quinto contorno" style="float:left;"><a href="{% url 'clubs' %}">
                            <div class="col-12 btn stats_vertical_logo" style="float:left">
                                <div class="stats_icon"><i class="fa fa-windows" style="transform: rotate(90deg)"></i>
                                </div>
                            </div>
                            <button type="button" class="col-12 btn stats_vertical_info" style="font-weight: 600">
                                {{total_courts}}<br>
                                <h2 style="font-weight: 200; border-left: none">{% trans "Courts" %}</h2>
                            </button>
                        </a>
                        </div>

                        <div class="quinto contorno" style="float:left"><a href="{% url 'tournaments' %}">
                            <div class="col-12 btn stats_vertical_logo" style="float:left">
                                <div class="stats_icon"><i class="fa fa-trophy"></i></div>
                            </div>
                            <button type="button" class="col-12 btn stats_vertical_info" style="">
                                {{total_tournaments}}<br>
                                <h2 style="font-weight: 200; border-left: none">{% trans "Events" %}</h2>
                            </button>
                        </a>
                        </div>

                        <div class="quinto contorno" style="float:left"><a href="">
                            <div class="col-12 btn stats_vertical_logo" style="float:left">
                                <div class="stats_icon"><i class="fa fa-user"></i></div>
                            </div>
                            <button type="button" class="col-12 btn stats_vertical_info" style="">
                                {{total_persons}}<br>
                                <h2 style="font-weight: 200; border-left: none">{% trans "Players" %}</h2>
                            </button>
                        </a>
                        </div>

                        <div class="quinto contorno" style="float:left"><a href="{% url 'ranking' %}">
                            <div class="col-12 btn stats_vertical_logo" style="float:left">
                                <div class="stats_icon"><i class="fa fa-list-ol"></i></div>
                            </div>
                            <button type="button" class="col-12 btn stats_vertical_info" style="">
                                {{total_rankings}}<br>
                                <h2 style="font-weight: 200; border-left: none">{% trans "Rankings" %}</h2>
                            </button>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<a data-scroll href="#landing02" class="scroll2"><span></span>Scroll</a>-->
</div>

<div class="container_12 tools">
    <div style="display:flex; flex-wrap: wrap; margin: 16px -8px 16px -8px">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="margin-bottom: 16px">
            <div class="card"
                 style="background-color: #ededed; box-shadow: 0px 4px 70px 0px rgba(86,103,146,0.1); border-radius: 1rem; border: none">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/003germany.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">{% trans "Club Finder" %}</h1>
                    <h4 style="margin-top: 15%; padding: 0 30px 0 30px; text-align: center">{% trans "Find Padel-clubs close to your place" %}</h4>
                </div>

                <div class="content"  style="margin-bottom: 20px;">
                        <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'clubs' %}" class="col-xs-12 col-sm-12"
                                style="margin: 30px auto; text-transform: uppercase; color: dc4d46; font-weight: 600; font-size: 16px">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="margin-bottom: 16px">
            <div class="card"
                 style="background-color: #ededed; box-shadow: 0px 4px 70px 0px rgba(86,103,146,0.1); border-radius: 1rem; border: none">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/003c.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">{% trans "Competition center" %}</h1>
                    <h4 style="margin-top: 15%; padding: 0 30px 0 30px; text-align: center">{% trans "Check the tournament calendar, all results" %}...</h4>
                </div>

                <div class="content"  style="margin-bottom: 20px;">
                        <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'tournaments' %}" class="col-xs-12 col-sm-12"
                                style="margin: 30px auto; text-transform: uppercase; color: dc4d46; font-weight: 600; font-size: 16px">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="margin-bottom: 16px">
            <div class="card"
                 style="background-color: #ededed; box-shadow: 0px 4px 70px 0px rgba(86,103,146,0.1); border-radius: 1rem; border: none">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/002c.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">{% trans "Rankings" %}</h1>
                    <h4 style="margin-top: 15%; padding: 0 30px 0 30px; text-align: center">{% trans "Check your position and your friends one" %}</h4>
                </div>

                <div class="content"  style="margin-bottom: 20px;">
                        <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'ranking' %}" class="col-xs-12 col-sm-12"
                                style="margin: 30px auto; text-transform: uppercase; color: dc4d46; font-weight: 600; font-size: 16px">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="margin-bottom: 16px">
            <div class="card"
                 style="background-color: #ededed; box-shadow: 0px 4px 70px 0px rgba(86,103,146,0.1); border-radius: 1rem; border: none">
                <div class="col-xs-12 col-sm-12 col-md-12" style="float:left; margin-top:15%">
                    <img class="col-xs-12 col-sm-12 img_map" style="" src="{% static 'images/news/master3.png' %}">
                </div>
                <div class="cover" style="margin-bottom: 35px;">
                    <h1 style="margin-top: 15%">Player / Teams Set-Cards</h1>
                    <h4 style="margin-top: 15%; padding: 0 30px 0 30px; text-align: center">{% trans "Played tournaments, won/lost matches, effectiveness." %}...</h4>
                </div>

                <div class="content"  style="margin-bottom: 20px;">
                        <div style="height:20px; text-align: center; padding-bottom: 25px">
                        <a href="{% url 'search' %}" class="col-xs-12 col-sm-12"
                                style="margin: 30px auto; text-transform: uppercase; color: dc4d46; font-weight: 600; font-size: 16px">
                            {% trans "Give me more" %}
                        </a>
                    </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
    </div>
</div>

<!--<div id="landing07" class="demo">-->
<!--<div class="jumbotron jumbotron-fluid" style="height: auto; background-color: #ededed; margin-bottom: 0px">-->
<!--<div class="container_12">-->
<!--<div class="col-sm-12 news_landing">-->
<!--<h1 class="form_title" style="font-weight: 600; color:#DC4C46; margin-top: 20px; text-align:center">-->
<!--{% trans "Other Countries and Federations" %}-->
<!--</h1>-->
<!--<hr class="separador_torneo" style="color:white">-->
<!--</div>-->
<!--<div class="col-sm-12" style="padding:0; height: 380px">-->
<!--<div class="col-sm-12">-->
<!--<div class="col-xs-4 col-sm-4 col-md-3 country_panel" style="float: left; padding-left: 0px">-->
<!--<div class="col-sm-12" style="text-align:center">-->
<!--<a href="" class="text_country"-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 600;">{% trans "Germany" %}-->
<!--</a><br>-->
<!--<a href=""-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 400;">DPV-->
<!--</a>-->
<!--</div>-->
<!--<img class="col-md-12 country_news"-->
<!--src="{% static 'images/flags/GER_panel.png' %}">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-12">-->
<!--<div class="col-xs-4 col-sm-4 col-md-3 country_panel" style="float: left; padding-left: 0px">-->
<!--<div class="col-sm-12" style="text-align:center">-->
<!--<a href="" class="text_country"-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 600;">{% trans "Egypt" %}-->
<!--</a><br>-->
<!--<a href=""-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 400;">EPF-->
<!--</a>-->
<!--</div>-->
<!--<img class="col-md-12 country_news"-->
<!--src="{% static 'images/flags/EGY_panel.png' %}">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-12">-->
<!--<div class="col-xs-4 col-sm-4 col-md-3 country_panel" style="float: left; padding-left: 0px">-->
<!--<div class="col-sm-12" style="text-align:center">-->
<!--<a href="" class="text_country"-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 600;">{% trans "Sweden" %}-->
<!--</a><br>-->
<!--<a href=""-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 400;">SPB-->
<!--</a>-->
<!--</div>-->
<!--<img class="col-md-12 country_news"-->
<!--src="{% static 'images/flags/SWE_panel.png' %}">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-12">-->
<!--<div class="col-xs-4 col-sm-4 col-md-3 country_panel" style="float: left; padding-left: 0px">-->
<!--<div class="col-sm-12" style="text-align:center">-->
<!--<a href="" class="text_country"-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 600;">{% trans "Switzerland" %}-->
<!--</a><br>-->
<!--<a href=""-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 400;">SPA-->
<!--</a>-->
<!--</div>-->
<!--<img class="col-md-12 country_news"-->
<!--src="{% static 'images/flags/SWI_panel.png' %}">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-12">-->
<!--<div class="col-xs-4 col-sm-4 col-md-3 country_panel" style="float: left; padding-left: 0px">-->
<!--<div class="col-sm-12" style="text-align:center">-->
<!--<a href="" class="text_country"-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 600;">{% trans "Thailand" %}-->
<!--</a><br>-->
<!--<a href=""-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 400;">TPA-->
<!--</a>-->
<!--</div>-->
<!--<img class="col-md-12 country_news"-->
<!--src="{% static 'images/flags/THA_panel.png' %}">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-sm-12">-->
<!--<div class="col-xs-4 col-sm-4 col-md-3 country_panel" style="float: left; padding-left: 0px">-->
<!--<div class="col-sm-12" style="text-align:center">-->
<!--<a href="" class="text_country"-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 600;">{% trans "United States of America" %}-->
<!--</a><br>-->
<!--<a href=""-->
<!--style="width: 50%; text-transform: uppercase; font-weight: 400;">USPA-->
<!--</a>-->
<!--</div>-->
<!--<img class="col-md-12 country_news"-->
<!--src="{% static 'images/flags/USA_panel.png' %}">-->
<!--</div>-->
<!--</div></div><br>-->
<!--<div class="col-xs-12 col-sm-12 col-md-12">-->
<!--<a href="{% url 'tournaments' %}">-->
<!--<button type="button" class="col-xs-12 col-sm-12 col-md-12 btn btn-danger stats_vertical_info_btn country_btn"-->
<!--style="background-color:d7d7d7; color:#dc4c46; margin-top:50px; ">-->
<!--{% trans "DISCOVER MORE" %}<br>-->
<!--</button>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<a data-scroll href="#landing01" class="scroll" style="margin-top: 20px"><span></span></a>-->
<!--</div>-->

<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<!--<script src="{% static 'js/smooth-scroll.js' %}"></script>-->
{% endblock %}

