{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/countries.css' %}"/>
{% endblock %}

{% block content %}
<div class="container_12">

    <!-- Título Página -->
    <div class="root roll">
        <a href="/" class="inactive">{% trans "Home" %}</a>
        <i class="fa fa-chevron-right"></i>
        <a class="active">{% trans "Rankings" %}</a>
        <i class="fa fa-chevron-right"></i>
        <a class="inactive">{% trans "Choose a tournament circuit" %}</a>
    </div>

    <div class="row">

      <!-- Germany -->
      <div class="col-xs-12 col-sm-6 col-md-4 card_country">
            <a href="{% url 'ranking_federation' 'Germany' %}">
                <div class="card" style="margin-top: 0px">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 linea">
                            <img class="col-md-12 flag_country" src="{% static 'images/flags/germany.png' %}">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <img class="col-md-12 federation" src="{% static 'images/federations/germany.png' %}">
                        </div>
                    </div>
                    <h1>{% trans 'Germany' %}</h1>
                </div>
            </a>
      </div>

      <!-- Switzerland -->
      <div class="col-xs-12 col-sm-6 col-md-4 card_country">
            <a href="{% url 'ranking_federation' 'Switzerland' %}">
                <div class="card" style="margin-top: 0px">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 linea">
                            <img class="col-md-12 flag_country" src="{% static 'images/flags/switzerland.png' %}">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <img class="col-md-12 federation" src="{% static 'images/federations/switzerland_fed.png' %}">
                        </div>
                    </div>
                    <h1>{% trans 'Switzerland' %}</h1>
                </div>
            </a>
      </div>

      <!-- Thailand -->
      <div class="col-xs-12 col-sm-6 col-md-4 card_country">
        <a href="{% url 'ranking_federation' 'Thailand' %}">
            <div class="card" style="margin-top: 0px">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 linea">
                        <img class="col-md-12 flag_country" src="{% static 'images/flags/thailand.png' %}">
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img class="col-md-12 federation" src="{% static 'images/federations/thailand.png' %}">
                    </div>
                </div>
                <h1>{% trans 'Thailand' %}</h1>
            </div>
        </a>
      </div>

    </div>



    <div class="row">

      <!-- WPT -->
      <div class="col-xs-12 col-sm-6 col-md-4 card_country">
        <a href="{% url 'ranking_federation' 'International' %}">
            <div class="card" style="margin-top: 0px">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 linea">
                        <img class="col-md-12 flag_country" src="{% static 'images/flags/international.png' %}">
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img class="col-md-12 federation" src="{% static 'images/federations/international_fed.png' %}">
                    </div>
                </div>
                <h1>{% trans 'World Padel Tour' %}</h1>
            </div>
        </a>
      </div>

    </div>

</div>
{% endblock %}
