{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Anmeldung.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/Acordeon.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/countries.css' %}"/>
{% endblock %}

{% block content %}
<div class="container_12">

    <div class="card roll">
        <h1>Tournament Circuits</h1>
    </div>

    <div class="row">
        <a href="X">
            <div class="col-xs-12 col-md-12 card_country">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <img class="col-md-4 federation" src="{% static 'images/federations/fip.jpg' %}">
                        </div>
                    </div>
                    <a href="X" class="top">{% trans 'International Padel Federation' %} (FIP)</a>
                </div>
            </div>
        </a>
    <div class="row">
        <a href="X">
            <div class="col-xs-12 col-sm-6 col-md-4 card_country">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 linea">
                            <img class="col-md-4 flag_country" src="{% static 'images/flags/germany.png' %}">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <img class="col-md-4 federation" src="{% static 'images/federations/germany.png' %}">
                        </div>
                    </div>
                    <a href="X" class="top">{% trans 'Germany' %}</a>
                </div>
            </div>
        </a>
        <a href="X">
            <div class="col-xs-12 col-sm-6 col-md-4 card_country">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 linea">
                            <img class="col-md-4 flag_country" src="{% static 'images/flags/netherlands.png' %}">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <img class="col-md-4 federation" src="{% static 'images/federations/netherlands.png' %}">
                        </div>
                    </div>
                    <a href="X" class="top">{% trans 'Netherlands' %}</a>
                </div>
            </div>
        </a>
        <a href="X">
            <div class="col-xs-12 col-sm-6 col-md-4 card_country">
                <div class="card">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 linea">
                            <img class="col-md-4 flag_country" src="{% static 'images/flags/thailand.png' %}">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <img class="col-md-4 federation" src="{% static 'images/federations/thailand.png' %}">
                        </div>
                    </div>
                    <a href="X" class="top">{% trans 'Thailand' %}</a>
                </div>
            </div>
        </a>
        <div class="col-xs-12 col-sm-6 col-md-4 card_country">
            <div class="card">{% trans 'Switzerland' %}</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 card_country">
            <div class="card">{% trans 'Egypt' %}</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 card_country">
            <div class="card">{% trans 'USA' %}</div>
        </div>
    </div>


    <!--    <div class="countries">-->
    <!--        {% for federation in federations %}-->
    <!--        <div class="col-xs-12 col-sm-4 card card_country">-->
    <!--            <a href="{% url 'tournaments_federation' federation %}" class="">{% trans federation %}</a>-->
    <!--        </div>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
</div>
{% endblock %}