{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container_12">

  <div class="root roll">
    <a href="/" class="inactive">{% trans "Home" %}</a>
    <i class="fa fa-chevron-right"></i>
    <a href="{% url 'tournaments' %}" class="inactive">{% trans "Tournaments" %}</a>
    <i class="fa fa-chevron-right"></i>
    <a class="active">{% trans federation %}</a>
  </div>

  <form name="tournaments-form" class="form-inline" method="post" style="align: right; margin: 10 0 10 0">
    {% csrf_token %}
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h3 class="form_title">{% trans "Year" %}</h3>
      <div class="input-group input-group-icon sm-hidden">
        <div class="input-icon"><i class="fa fa-calendar"></i></div>
      </div>
      <h3 class="form_title">{{form.year}}</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h3 class="form_title">{% trans "Division" %}</h3>
      <div class="input-group input-group-icon sm-hidden">
        <div class="input-icon"><i class="fa fa-users"></i></div>
      </div>
      <h3 class="form_title">{{form.division}}</h3>
    </div>
  </form>

  <div class="card" style="padding-top: 16px; margin-top: 15px">
    {% for tournament in tournaments %}
    <div class="panel active">
      <ul>
        <div class="col-xs-12 tournament-list" style="float: left">

          <!-- Club -->
          <div class="col-xs-1 col-sm-1 col-md-2" style="float: left">
            <div class="user-tournamentlist" style="background-color: white">
              {% if tournament.club.logo.url %}
              <img class="img" src="{{ tournament.club.logo.url }}">
              {% elif tournament.padel_serie == 'BUNDESLIGA' %}
              <img class="img" src="{% static 'images/kategorien/bundesliga.jpg' %}">
              {% else %}
              <img class="img" src="{% static 'images/germany/clubs/_logo.png' %}">
              {% endif %}
            </div>
          </div>

          <!-- Serie, Ciudad y Fecha -->
          <div class="col-xs-8 col-sm-9 col-md-7 text_tournament_title" style="float: left">
            <a href="{% url 'tournament' tournament.id %}" class="text_tournament_title title_date"
              style="width: 100%; color: #17a2b8">{{tournament.name}}</a><br>
            <a href="{% url 'tournament' tournament.id %}" class="text_tournament_title"
              style="text-transform: uppercase">{{tournament.date}}</a><br>
            <div class="hidden-md-down" style="margin-top: 3px">
              {% if tournament.city %}
              <i class="fa fa-map-marker" style="color: #fd7e14; font-size: 16px"></i>
              <a class="text_tournament_title"
                style="width: 100%; font-weight: bold; color:black">{{tournament.city}}</a>
              {% endif %}
              <a style="padding-left:10px; text-transform: uppercase; color:black">
              {% if tournament.club %}
              {{tournament.club}}
              {% endif %}
              </a>
            </div>
          </div>


          <!-- Category -->
          <div class="col-xs-2 col-sm-1 col-md-1 division hidden-sm-down " style="float: left; padding-left: 0px">
            <div class="float_cat" style="float: left">
              {% if tournament.padel_serie == 'BUNDESLIGA' %}
              <img class="category_turnierliste" src="{% static 'images/kategorien/dpv_points.png' %}">
              {% else %}
              <img class="category_turnierliste" src="{% static tournament.serie_url %}" alt="GPS-500">
              {% endif %}
            </div>
          </div>

          <!-- Division -->
          <button type="button" class="float_div col-xs-2 col-sm-1 col-md-1 btn cat"
            style="margin: 0 10 0 -10; float: left; pointer-events: none">
            {{tournament.division}}
          </button>

          <!-- Results -->
          {% if tournament.signup %}
          <!-- <a href="{% url 'tournament_signup' tournament.id %}"> -->
          <a href="http://www.dpv-padel.de/gps-2019">
            <button type="button" class="col-xs-12 col-md-1 col-bg-1 btn margen"
              style="float: right; font-size: 12px; background: black; color: white">
              {% trans "Sign up" %}
            </button>
          </a>
          {% else %}
          <a href="{% url 'tournament' tournament.id %}">
            <button type="button" class="hidden-md-down col-xs-12 col-md-1 col-bg-1 btn btn-outline-success margen"
              style="float: right; background: black; color: white">
              {% trans "Results" %}
            </button>
          </a>
          {% endif %}
        </div>
      </ul>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>

{% endblock %}