@charset "utf-8";

html, body {
  height: 100%;
}

.tools h1 {
margin: 20px 12px 12px 10px;
}

.landing_title {
display:flex;
flex-wrap: wrap;
margin: 0 4px;
}

.country_news{
max-width: 150px;
border-right: 1px solid #ededed;
left: 50%;
margin-left: -75px;
}

.demo a {
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.carousel-indicators {
bottom: -30px;
}

.carousel-indicators li {
background-color: #dc3545;
}

.col-12 {
background-color: rgba(255,255,255,0,1);
min-height: none;
}

.card .cover_card {
    height: 65px;
    overflow: hidden;
}

.cover_card h2 {
    color: black
}

.tools_card {
background-color: #fff;
box-shadow: none;
}

.tools_card:hover {
background-color: #ededed;
box-shadow: 0px 4px 20px 0px rgba(86,103,146,0.1);
border-radius: 1rem;
}

.tools_content {
margin-top: 5%;
padding-top: 0;
padding-bottom: 0;
text-align: center;
}

.tools_button {
margin: 10px auto;
text-transform: uppercase;
color: #dc4d46;
font-weight: 600;
font-size: 16px;
}

.tools_button:hover {
color: white;
background-color: #dc4d46;
padding: 8px;
border-radius: 1rem;
transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}


.stats_icon {
color: #DC4C46;
font-size: 36px;
}

.stats_icon:hover{
color: black;
}


@media (max-width: 991px) {
.hidden992 {
display: none !important;
}

.stats_info {
max-height: 70px;
font-size: 24px;
background: white;
}
}


@media (min-width: 768px) and (max-width: 991px) {
.stats_icon {
    font-size: 30px;
    margin-top: 10px;
}
}

@media (max-width: 768px) {
.stats_icon {
    font-size: 20px;
    margin-top: 8px;
}
}

