@charset "utf-8";

html, body {
  height: 100%;
}

.country_news{
max-width: 150px;
border-right: 1px solid #ededed;
left: 50%;
margin-left: -75px;
}

.demo a {
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.posters {
height: 650px;
}


.carousel-indicators {
bottom: -30px;
}

.carousel-indicators li {
background-color: #dc3545;
}

.col-12 {
background-color: rgba(255,255,255,0,1);
min-height: none;
}

.cover_logo{
display: block;
margin: 15px auto 0 auto;
width: 22% !important;
}

.cover_title{
font-size: 30px;
display: block;
margin: -15px auto 0 auto;
width: 100%
}

.card .cover_card {
    height: 65px;
    overflow: hidden;
}

.news_bar {
  position: relative;
  display: -ms-flexbox;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
    transition: 0.1s;
border-radius: 0.0rem;
  -webkit-filter: grayscale(0%);
  height:inherit;
  padding: 0px;
}

.tools_card {
background-color: #fff;
}

.tools_card:hover {
background-color: #ededed;
box-shadow: 0px 4px 20px 0px rgba(86,103,146,0.1);
border-radius: 1rem;
}

.tools_content {
margin-top: 5%;
padding-top: 0;
padding-bottom: 0;
text-align: center;
}

.tools_button {
margin: 10px auto;
text-transform: uppercase;
color: #dc4d46;
font-weight: 600;
font-size: 16px;
}

.tools_button:hover {
color: white;
background-color: #dc4d46;
padding: 8px;
border-radius: 1rem;
transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}


.stats_icon {
color: #DC4C46;
font-size: 36px;
}

.stats_icon:hover{
color: black;
}



.stats_vertical_info {
text-transform: uppercase;
font-weight: 600px;
border-radius: 0px;
height: 50px;
font-size: 20px;
font-weight: 600;
float:right;
margin: -5 0 0 0;
border: none;
background-color: #fff
}

.stats_vertical_info_btn {
text-transform: uppercase;
font-weight: 600px;
border-radius: 0px;
height: 80px;
font-size: 24px;
font-weight: 600;
float:right;
margin: -5 0 0 0;
background-color: rgba(255,255,255,0.7);
border: none;
color: #000;
max-height: 150px;
left: 8.33%;
}


@media (max-width: 992px) {

.cover_logo{
width: 30%
}


.cover_title{
font-size: 24px;
width: 90%
}

.stats_vertical_info {
max-height: 70px;
font-size: 24px;
}

.stats_vertical_info_btn {
max-height: 100px;
font-size: 18px;
padding: 0;
}

.news_bar {
  width: 80%;
}
}


@media (min-width: 768px) and (max-width: 992px) {
.posters {
height: 540px;
}

.news_bar {
  width: 80%;
  margin-top: 0px

}


.stats_vertical_logo {
background-color: rgba(255,255,255,0.7);
max-height: 50px;
}


.stats_icon {
    font-size: 30px;
    margin-top: 10px;
}
}



@media (min-width: 768px) {
.stats2 {
    display: none
}

.country_btn {
left: 0;
width: 60%;
float: none;
left: 50%;
margin-left: -30%;
}
}

@media (min-width: 700px) and (max-width: 768px) {
.jumbotron {
height: 480px;
}

.posters {
height: 620px;
}
}

@media (max-width: 768px) {
.stats1 {
    display: none
}

.jumbotron {
height: auto;
}

.posters {
height: 620px;
}

.scroll{
display: none;}

.scroll2{
left: 50%;
margin-left: -12px;
}


.news_bar {
  width: 95%;
}

.stats_vertical_logo {
background-color: rgba(255,255,255,0.7);
min-height: none;
}


.stats_vertical_info {
background-color: rgba(255,255,255,0.7);
}


.stats_icon {
    font-size: 20px;
    margin-top: 8px;
}



.datos{
padding-left: 0.5px;
padding-right: 0.5px;
}

.datos .stats_vertical_logo {
margin-bottom: 1px;

}



.datos .stats_vertical_info {
height: 60px;
max-height: none;
}


.stats_vertical_info_btn {
font-size: 14px;
max-height: 100px;
width: 60%;
left: 50%;
margin-left: -30%;
float: left; }

}


@media (max-width: 576px) {
.cover_title{
font-size: 18px;
margin: -40px auto 0 auto;
}

#particles-js{
  width: 100%;
  height: 30%;
}

.stats_vertical_info_btn {
font-size: 14px;
max-height: 100px;
float: left; }

.cover_logo{
margin: -15px auto 0 auto;
width: 45%;
}

.stats_vertical_info h2{
font-size: 12px
}

.jumbotron {
height: auto;
}


.country_panel {
margin-top: 40px;
}

.scroll{
display:none;
}

.scroll2{
margin-top: -60px}

.posters {
height: auto;
}
}

@media (max-height: 700px) {
.news_bar {
  width: 95%;
  margin-top:100px;
}


.cover_logo{
margin: 60px auto 0 auto;
}
}

@media (min-width: 576px) and (max-height: 700px) {
.news_bar {
  width: 70%;
  margin-top:50px;
}
}

@media (min-width: 700px) and (max-height: 992px) {
.stats_icon {
    font-size: 24px;
  margin-top:10px;
}
.stats_vertical_info{
font-size: 16px
  margin-top:-10px;}

.stats_vertical_info h2{
font-size: 16px
}

.cover_logo{
margin: 15px auto 0 auto;
width: 30%
}

#particles-js{
  width: 100%;
  height: 30%;
}

.cover_title{
font-size: 20px;
}}


