@charset "utf-8";



.search-box {
height: 50px;
background-color: white;
float: right;
}

.search_bar_search {
float: left;
margin: 35px auto -100px 30px;
}

.form-control::placeholder {
  margin-top: 0px !important;
}




.form-control {
    line-height: 1.2;
    margin-top: 1px;
    margin-right: 20px;
    width: 400px !important;
}

.form-inline {
    float: right;
    margin-right: 22px;
    border: 1px solid #EEEEEE;
}



.lupa_btn {
height: 40px;
margin-left: 1.9rem !important;
}

.search_box {

}


@media (min-width: 768px) and (max-width: 991px) {
.lupa_btn {
margin-right: 10px;
}
}

@media (max-width: 768px) {
.search_bar {
height: 42px;
margin-top: 0px;
}

.lupa_btn {
position: absolute
}

.form-control {
margin-left: 80px
}

.form-inline {
float: left;
border: none;
}

}

@media (max-width: 576px) {
.search_bar {
margin-top: 2px;
}

.ml-sm-2 {
margin-left: 1rem;
margin-left: 1rem !important;
}

.form-control {
margin-left: 60px
}

.fa-search {
font-size: 20px !important;
margin-left: 8px;
}

.my.-form
}