black==22.10.0
django-extensions==2.2.1
django-heroku==0.3.1
django-stubs==5.0.0
entrypoints==0.3
flake8==3.7.9
isort==5.13.2
mccabe==0.6.1
mypy==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
wsgi-basic-auth==1.1.0
-r requirements_production.txt
