{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap core CSS and others -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}"/>
</head>


<body>

  <main role="main" class="container">
    <!-- Monday -->
    <table id="myTable1" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Court 1</th>
          <th scope="col">Court 2</th>
          <th scope="col">Court 3</th>
          <th scope="col">Court 4</th>
          <th scope="col">Court 5</th>
          <th scope="col">Court 6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">09:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">11:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">13:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">14:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">15:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- Tuesday -->
    <table id="myTable2" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Court 1</th>
          <th scope="col">Court 2</th>
          <th scope="col">Court 3</th>
          <th scope="col">Court 4</th>
          <th scope="col">Court 5</th>
          <th scope="col">Court 6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">09:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">10:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">11:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">12:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">13:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">14:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">15:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </main>

  <!-- Footer -->
  <footer class="page-footer unique-color-dark fixed-bottom" style="background-color: black;">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h3 id="totalPrice" class="mb-1 text-white">Total price 0 &euro;</h5>
        </li>
        <li class="list-inline-item float-right">
          <button type="button" class="btn btn-outline-light btn-rounded btn-lg">Book now!</button>
        </li>
      </ul>
      <!-- Call to action -->
    </div>
    <!-- Footer Elements -->
  </footer>
  <!-- Footer -->


</body>


<script src="{% static 'js/booking.js' %}"></script>
<script>
  bindOnClickMethod("myTable1");
  bindOnClickMethod("myTable2");
</script>
