{% extends "news/news_template.html" %}
{% load staticfiles %}

{% block news_category %}
<a href="">International</a>
{% endblock %}
{% block news_category2 %}
<a href="">EM-2019</a>
{% endblock %}

{% block news_title %}
Keine Überraschung in Lissabon
{% endblock %}

{% block news_subtitle %}
Spanien gewinnt wie erwartet die Europameisterschaften in beiden Kategorien
{% endblock %}

{% block news_author %}
Fran González
{% endblock %}

{% block news_date %}
11/11/2019 - 09:47
{% endblock %}

{% block news_image %}
src="{% static 'images/news/EM-EPA_winners.jpg' %}"
{% endblock %}


{% block news_content %}
<h3 style="color: black; font-size: 18px; margin-left: 8px">
  Spanien gewinnt das Wettbewerb bei den Damen sowie bei den Herren.
  {% endblock %}
