{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link href="{% static 'css/Anmeldung.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/Acordeon.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container_12">

    <div class="card roll">
        <h1>Großer Erfolg. 4. Platz und 5. Platz erhalten.</h1>
    </div>

    <div class="card">

        <!-- creo que esto deberia estar dentro de un <p></p> pero queda mal -->
        <!-- vas a tener que darle un poco de arte a esto que se ve mu feo -->
        <h2>
            Letzter Tag in Rom. Die Herren haben gestern leider im Spiel um
            Platz 3 gegen Italien 0-3 verloren. Wir haben einen wohlverdienten 4. Platz geschafft.
        </h2>

        <h2>
            Die Damen haben mit dem Sieg 3-0 gegen Russland den 5 Platz erzielt, für uns Deutschland
            kann es nur heißen weiter so, trainieren und so viel Spiele machen wie es geht.
        </h2>

        <h2>
            Nach anfangs super Wetter, über Gewitter und Starkregen haben die FIP das super organisiert
            um das Turnier zu Ende zu spielen. Auch das ganze neben dem Platz war super professionell,
            über Shops, Physiotherapie, Transfer, Spielerbereich, Getränke… Das hat Spaß gemacht. Am
            Donnerstag Abend und Freitag noch Showmatches, mit Belasteguín, Lima, Ari und Salazar.
        </h2>

        <h2>
            Französe, Italiener und Engländer haben ihr super gutes Niveau in Rom gezeigt und haben in
            beiden Kategorien die erste 3 Positionen erreicht.
        </h2>

        <h2>
            Wir konnten von einer tollen Woche in Rom berichten.<br>
            Wir freuen uns auf 2020.
        </h2>
    </div>

    <br>

</div>

{% endblock %}