{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link href="{% static 'css/Anmeldung.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/Acordeon.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container_12">

    <div class="card roll">
        <h1>Abschluss der EPA-Europameisterschaft</h1>
    </div>

    <div class="card">

        <!-- creo que esto deberia estar dentro de un <p></p> pero queda mal -->
        <!-- vas a tener que darle un poco de arte a esto que se ve mu feo -->
        <h2>
            Die deutschen Damen- und Herrenmannschaften verabschiedeten sich
            heute beim Turnier in Lissabon.
        </h2>

        <h2>
            Das deutsche Damenteam konnte nach einem 2:1-Sieg über Tschechien mit einem positiven
            Ereignis das Turnier beenden und wurde 9. von 11 teilnehmenen Damenmannschaften.
        </h2>

        <h2>
            Die Herren versuchten im Spiel gegen Finnland noch eine einstellige Platzierung zu
            erreichten, scheiterten letztendlich jedoch 0:3. Insbesondere Y. Mann/ L. Samuelsen
            scheiterten denkbar knapp mit 5-7, 6-3, 6-7(6) an H. Sillanpää/ O. Marjamäki. Am Ende
            reichte es zu Platz 10 von 15 teilnehmenden Teams
        </h2>
    </div>

    <br>

</div>

{% endblock %}