{% extends "news/news_template.html" %}
{% load staticfiles %}

{% block news_category %}
<a href="">International</a>
{% endblock %}
{% block news_category2 %}
<a href="">EM-2019</a>
{% endblock %}

{% block news_title %}
Der DPV nominiert 43 Spieler im 2019 für die Aktiven NM sowie für die Senioren-NM
{% endblock %}

{% block news_subtitle %}
Anja Timm und Andreas Schneider haben bei der Senioren-EM sowie bei der Aktiven EM in Rom teilgenommen
{% endblock %}

{% block news_author %}
Fran González
{% endblock %}

{% block news_date %}
21/11/2019 - 13:32
{% endblock %}

{% block news_image %}
src="{% static 'images/news/2019_nominierung.jpg' %}"
{% endblock %}


{% block news_content %}
  <h2>Hier ist die Liste der aktuellen Deutschen Nationalmannschaft:</h2>

      <h1 class="col-sm-12 col-md-12 group-name">Europameisterschaft Rom 2019</h1>
      <h1 class="group-name">Damen</h1>
      <h2 class="group-name">Castillo, Emily</h2>
      <h2 class="group-name">Castillo, Kayleigh</h2>
      <h2 class="group-name">Castillo, Tracy</h2>
      <h2 class="group-name">Cramer, Kim</h2>
      <h2 class="group-name">Höfner, Denise</h2>
      <h2 class="group-name">Moya, Marina</h2>
      <h2 class="group-name">Timm, Anja*</h2>
      <h1 class="group-name">Herren</h1>
      <h2 class="group-name">Bode, Florian</h2>
      <h2 class="group-name">Goerke, Christoph</h2>
      <h2 class="group-name">Heininger, Nils</h2>
      <h2 class="group-name">Jäger, Tim</h2>
      <h2 class="group-name">Müller, Ole</h2>
      <h2 class="group-name">Schneider, Andreas*</h2>
      <h2 class="group-name">Schwörer, Oliver</h2>
      <h2 class="group-name">Wunner, Matthias</h2>

      <br><h1 class="col-sm-12 col-md-12 group-name">Europameisterschaft Lissabon 2019</h1>
      <h1 class="group-name">Damen</h1>
      <h2 class="group-name">Bäcker, Katrin</h2>
      <h2 class="group-name">Breyer, Inken</h2>
      <h2 class="group-name">Flosbach, Antonia</h2>
      <h2 class="group-name">Hermann, Anita</h2>
      <h2 class="group-name">Hinterseer, Vroni</h2>
      <h2 class="group-name">Tiedjen, Maren</h2>
      <h1 class="group-name">Herren</h1>
      <h2 class="group-name">Böhnke, Christian</h2>
      <h2 class="group-name">Bott, Frederik</h2>
      <h2 class="group-name">Lindmeyer, Johannes</h2>
      <h2 class="group-name">Lingen, Daniel</h2>
      <h2 class="group-name">Mann, Yannik</h2>
      <h2 class="group-name">Messerschmidt, Jonas</h2>
      <h2 class="group-name">Samuelsen, Lennart</h2>
      <h2 class="group-name">Schmidt, Fabian</h2>

      <br><h1 class="col-sm-12 col-md-12 group-name">Senioren-Europameisterschaft Bilbao 2019</h1>

  <table class="table-big-light col-sm-12" style="float: left; margin-top: 20px; margin-bottom: 20px;">
    <tr class="col-sm-12">
      <th class="quinto group-name" style="padding-left: 8px">
        <div><a>Herren +35/+40</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Herren +45</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Herren +50</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Herren +55</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Damen</a></div>
      </th>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Bierschel, Ingo</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Engelbrecht, Kai</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Hirsch, Thorsten</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Diehl, Gerhard</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Matschiske, Silvia</a></div>
      </td>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Bosselmann, Lars</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Gehrke, Holger</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Timm, Sven</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Hafer, Andreas</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Timm, Anja*</a></div>
      </td>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Rose, Mike</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Kramer, Patrick</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Paul, Winfried</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Schneider, Andreas*</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Schröder, Thorsten</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Rupp, Matthias</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
    </tr>
  </table>

  <h2>(*) Anja Timm und Andreas Schneider haben bei der Senioren-EM sowie bei der Aktiven EM in Rom teilgenommen.</h2>
{% endblock %}
