{% extends "news/news_template.html" %}
{% load static %}

{% block news_category %}
<a href="">Germany</a>
{% endblock %}
{% block news_category2 %}
<a href="">National Team</a>
{% endblock %}

{% block news_title %}
Großer Erfolg: 4. Platz und 5. Platz
{% endblock %}

{% block news_subtitle %}
Die Herren verlieren im Halfinale gegen Italien 0-3 und die Damen gewinnen das Spiel für den 5. Platz 3-0 gegen Russland
{% endblock %}

{% block news_author %}
Fran González
{% endblock %}

{% block news_date %}
09/11/2019 - 15:13
{% endblock %}

{% block news_image %}
src="{% static 'images/news/EM-FIP.jpg' %}"
{% endblock %}


{% block news_content %}
    Letzter Tag in Rom.
    <BR><BR>
    Die Herren haben leider im Spiel um Platz 3 gegen Großbritannsien 0-3 verloren. Wir haben
    einen wohlverdienten 4. Platz geschafft.
    <BR><BR>
    Die Damen haben mit dem Sieg 3-0 gegen Russland den 5. Rang erzielt, für uns Deutsche kann es nur
    heißen: Weiter so, trainieren und so viel Spiele machen wie es geht.
    <BR><BR>
    Nach anfangs super Wetter und dann Gewitter und Starkregen hat die FIP das super organisiert, um das
    Turnier zu Ende spielen zu können. Auch das ganze „neben dem Platz“ war super professionell: Shops,
    Physiotherapie, Transfer, Spielerbereich, Getränke… Das hat Spaß gemacht.
    <BR><BR>
    Am Donnerstag Abend und Freitag noch Showmatches, mit Belasteguín, Lima, Ari und Salazar.
    <BR><BR>
    Franzosen, Italiener und Engländer haben in Rom ihr sehr hohes Niveau gezeigt und dabei in beiden
    Kategorien die ersten 3 Plätze erreicht.
    <BR><BR>
    Wir konnten von einer tollen Woche in Rom berichten.
    <BR><BR>
    Und freuen uns auf 2020.
{% endblock %}
