{% extends "news/news_template.html" %}
{% load staticfiles %}

{% block news_category %}
<a href="">International</a>
{% endblock %}
{% block news_category2 %}
<a href="">EM-2019</a>
{% endblock %}

{% block news_title %}
Der DPV nominiert 43 Spieler im 2019 für die Aktiven NM sowie für die Senioren-NM
{% endblock %}

{% block news_subtitle %}
Anja Timm und Andreas Schneider haben bei der Senioren-EM sowie bei der Aktiven EM in Rom teilgenommen
{% endblock %}

{% block news_author %}
Fran González
{% endblock %}

{% block news_date %}
21/11/2019 - 13:32
{% endblock %}

{% block news_image %}
src="{% static 'images/news/2019_nominierung.jpg' %}"
{% endblock %}


{% block news_content %}
  <h2>Hier ist die Liste der aktuellen Deutschen Nationalmannschaft:</h2>

  <table class="table-big-light col-sm-12 " style="float: left; margin-bottom: 20px;">
    <tr>
      <th class="col-sm-12 col-md-6 group-name">
        <div><a>Europameisterschaft Rom 2019</a></div>
      </th>
      <th class="col-sm-12 col-md-6 group-name">
        <div><a>Europameisterschaft Lissabon 2019</a></div>
      </th>
    </tr>
  </table>

  <table class="table-big-light col-sm-12 " style="float: left; margin-top: 20px; margin-bottom: 20px;">
    <tr>
      <th class="col-sm-6 col-md-3 group-name">Damen</th>
      <th class="col-sm-6 col-md-3 group-name">Herren</th>
      <th class="col-sm-6 col-md-3 group-name">Damen</th>
      <th class="col-sm-6 col-md-3 group-name">Herren</th>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Castillo, Emily</td>
      <td class="col-sm-6 col-md-3 group-name">Bode, Florian</td>
      <td class="col-sm-6 col-md-3 group-name">Bäcker, Katrin</td>
      <td class="col-sm-6 col-md-3 group-name">Böhnke, Christian</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Castillo, Kayleigh</td>
      <td class="col-sm-6 col-md-3 group-name">Goerke, Christoph</td>
      <td class="col-sm-6 col-md-3 group-name">Breyer, Inken</td>
      <td class="col-sm-6 col-md-3 group-name">Bott, Frederik</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Castillo, Tracy</td>
      <td class="col-sm-6 col-md-3 group-name">Heininger, Nils</td>
      <td class="col-sm-6 col-md-3 group-name">Flosbach, Antonia</td>
      <td class="col-sm-6 col-md-3 group-name">Lindmeyer, Johannes</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Cramer, Kim</td>
      <td class="col-sm-6 col-md-3 group-name">Jäger, Tim</td>
      <td class="col-sm-6 col-md-3 group-name">Hermann, Anita</td>
      <td class="col-sm-6 col-md-3 group-name">Lingen, Daniel</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Höfner, Denise</td>
      <td class="col-sm-6 col-md-3 group-name">Müller, Ole</td>
      <td class="col-sm-6 col-md-3 group-name">Hinterseer, Vroni</td>
      <td class="col-sm-6 col-md-3 group-name">Mann, Yannik</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Moya, Marina</td>
      <td class="col-sm-6 col-md-3 group-name">Schneider, Andreas*</td>
      <td class="col-sm-6 col-md-3 group-name">Tiedjen, Maren</td>
      <td class="col-sm-6 col-md-3 group-name">Messerschmidt, Jonas</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">Timm, Anja*</td>
      <td class="col-sm-6 col-md-3 group-name">Schwörer, Oliver</td>
      <td class="col-sm-6 col-md-3 group-name">-</td>
      <td class="col-sm-6 col-md-3 group-name">Samuelsen, Lennart</td>
    </tr>
    <tr>
      <td class="col-sm-6 col-md-3 group-name">-</td>
      <td class="col-sm-6 col-md-3 group-name">Wunner, Matthias</td>
      <td class="col-sm-6 col-md-3 group-name">-</td>
      <td class="col-sm-6 col-md-3 group-name">Schmidt, Fabian</td>
    </tr>
  </table>

  <table class="table-big-light col-sm-12 " style="float: left; margin-top: 20px; margin-bottom: 20px;">
    <tr>
      <th class="col-sm-12 col-md-12 group-name">
        <div><a>Senioren-Europameisterschaft Bilbao 2019}</a></div>
      </th>
    </tr>
  </table>

  <table class="table-big-light col-sm-12" style="float: left; margin-top: 20px; margin-bottom: 20px;">
    <tr class="col-sm-12">
      <th class="quinto group-name" style="padding-left: 8px">
        <div><a>Herren +35/+40</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Herren +45</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Herren +50</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Herren +55</a></div>
      </th>
      <th class="quinto group-name">
        <div><a>Damen</a></div>
      </th>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Bierschel, Ingo</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Engelbrecht, Kai</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Hirsch, Thorsten</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Diehl, Gerhard</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Matschiske, Silvia</a></div>
      </td>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Bosselmann, Lars</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Gehrke, Holger</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Timm, Sven</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Hafer, Andreas</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Timm, Anja*</a></div>
      </td>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Rose, Mike</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Kramer, Patrick</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Paul, Winfried</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
    </tr>
    <tr class="col-sm-12">
      <td class="quinto group-name" style="padding-left: 8px">
        <div><a>Schneider, Andreas*</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Schröder, Thorsten</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>Rupp, Matthias</a></div>
      </td>
      <td class="quinto group-name">
        <div><a>-</a></div>
      </td>
    </tr>
  </table>

  <h2>(*) Anja Timm und Andreas Schneider haben bei der Senioren-EM sowie bei der Aktiven EM in Rom teilgenommen.</h2>
{% endblock %}
