{% extends "news/news_template.html" %}
{% load static %}

{% block news_title %}
<div class="card roll">
  <h1 style="font-size: 36px">Keine Überraschung in Lissabon</h1>
</div>
{% endblock %}

{% block news_image %}
<div class="col-xs-12 col-md-12" style="float: left">
  <img class="news_img" src="{% static 'images/news/EM-EPA.jpg' %}">
</div>
{% endblock %}

{% block news_content %}
<div class="col-xs-12 col-md-12" style="float: left">
  <h3 style="color: black; font-size: 18px">
      Spanien gewinnt das Wettbewerb bei den Damen sowie bei den Herren.
  </h3>
</div>
{% endblock %}
