{% extends "news/news_template.html" %}
{% load staticfiles %}

{% block news_category %}
<a href="">Germany</a>
{% endblock %}
{% block news_category2 %}
<a href="">Bundesliga</a>
{% endblock %}

{% block news_title %}
Die Ausschreibung der ersten Padel Bundesliga ist jetzt veröffentlicht
{% endblock %}

{% block news_subtitle %}
Die Ausschreibung der ersten Padel Bundesliga ist jetzt veröffentlicht
{% endblock %}

{% block news_author %}
Fran González
{% endblock %}

{% block news_date %}
14/02/2020 - 08:41
{% endblock %}

{% block news_image %}
src="{% static 'images/news/bundesliga.jpg' %}"
{% endblock %}


{% block news_content %}
          <h3 style="color: black; font-size: 18px; margin-left: 8px">
    Der Deutscher Padel Verband veröffentlicht die Ausschreibung für die erste Bundesliga.
    <BR><BR>
    Die Sieger der Bundesliga werden für die internationale von der FEPA veranstaltete Champions Trophy qualifizieren.
    <BR><BR>
    Weitere Infos kann man auf <a href="www.dpv-padel.de" style="color: #0056b3">dpv-padel.de</a> finden.
    <BR><BR>
{% endblock %}
