{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
<link href="{% static 'css/Anmeldung.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/Acordeon.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container_12">

    <div class="card roll">
        <h1>Keine Überraschung in Lissabon</h1>
    </div>

    <div class="card">

        <!-- creo que esto deberia estar dentro de un <p></p> pero queda mal -->
        <!-- vas a tener que darle un poco de arte a esto que se ve mu feo -->
        <h2>
            Spanien gewinnt das Wettbewerb bei den Damen sowie bei den Herren.
        </h2>

    </div>

    <br>

</div>

{% endblock %}