{% extends "news/news_template.html" %}
{% load staticfiles %}

{% block news_category %}
<a href="">Germany</a>
{% endblock %}
{% block news_category2 %}
<a href="">Senioren</a>
{% endblock %}

{% block news_title %}
Unsere Senioren sind für die EM bereit
{% endblock %}

{% block news_subtitle %}
16 Deutsche SpielerInnen werden für den Siegertitel in Bilbao kämpfen
{% endblock %}

{% block news_author %}
Fran González
{% endblock %}

{% block news_date %}
18/10/2019 - 15:32
{% endblock %}

{% block news_image %}
src="{% static 'images/news/EM_bilbao.jpg' %}"
{% endblock %}


{% block news_content %}
  <table class="table-big-light col-sm-12 " style="float: left; margin-bottom: 20px;">
      <tr>
          <th class="col-sm-12 col-md-12 group-name">
              <div><a>Senioren-Europameisterschaft Bilbao 2019.</a></div>
          </th>
      </tr>
  </table>
  <hr class="separador">
  <table class="table-big-light col-sm-12" style="float: left; margin-bottom: 20px;">
      <tr class="col-sm-12">
          <th class="quinto group-name" style="padding-left: 8px">
              <div style="width: 20%"><a>Herren +35/+40</a></div>
          </th>
          <th class="quinto group-name">
              <div style="width: 20%"><a>Herren +45</a></div>
          </th>
          <th class="quinto group-name">
              <div style="width: 20%"><a>Herren +50</a></div>
          </th>
          <th class="quinto group-name">
              <div style="width: 20%"><a>Herren +55</a></div>
          </th>
          <th class="quinto group-name">
              <div style="width: 20%"><a>Damen</a></div>
          </th>
      </tr>
      <tr class="col-sm-12">
          <td class="quinto group-name" style="padding-left: 8px">
              <div><a>Bierschel, Ingo</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Engelbrecht, Kai</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Hirsch, Thorsten</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Diehl, Gerhard</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Matschiske, Silvia</a></div>
          </td>
      </tr>
      <tr class="col-sm-12">
          <td class="quinto group-name" style="padding-left: 8px">
              <div><a>Bosselmann, Lars</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Gehrke, Holger</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Timm, Sven</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Hafer, Andreas</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Timm, Anja</a></div>
          </td>
      </tr>
      <tr class="col-sm-12">
          <td class="quinto group-name" style="padding-left: 8px">
              <div><a>Rose, Mike</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Kramer, Patrick</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>-</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Paul, Winfried</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>-</a></div>
          </td>
      </tr>
      <tr class="col-sm-12">
          <td class="quinto group-name" style="padding-left: 8px">
              <div><a>Schneider, Andreas</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Schröder, Thorsten</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>-</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>Rupp, Matthias</a></div>
          </td>
          <td class="quinto group-name">
              <div><a>-</a></div>
          </td>
      </tr>
  </table>
  <BR><BR>
  <h2 style="text-align:left">
      Folgende Spieler haben auch im 2018 in Estepona bei der WM teilgenommen:
  </h2>
  <h2 class="col-sm-12" style="text-align:left"><ul class="b">
      <li>Bierschel, Ingo - Ü35</li>
      <li>Rose, Mike - Ü40</li>
      <li>Schneider Andreas - Ü40</li>
      <li>Gehrke, Holger - Ü55</li>
      <li>Diehl, Gerhard - Ü55</li>
      <li>Paul, Winfried - Ü55</li>
      <li>Rupp, Matthias - Ü55</li>
      <li>Timm, Anja - Damen Ü45</li>
  </ul></h2>
{% endblock %}



